.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  background-color: black;
  color: white;
  width: 960px;
  height: 50vh;
  border-radius: 10px;
  padding: 0px 10px 80px 10px;
  overflow: auto;
  display: flex;
  z-index: 10;
  margin: 20px;
  position: relative;
}

.left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.left > img {
  border-radius: 50px;
  object-fit: cover;
  overflow: hidden;
}

.nft-video {
  object-fit: contain;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right {
  width: 50%;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.content > p {
  color: #fdd3a9;
  font-size: 14px;
}

.content > h1 {
  letter-spacing: 8px;
  color: #ffb66e;
}

.mint {
  background-color: #ffb66e;
  color: black;
  border: none;
  outline: none;
  margin: 20px 20px 0 0;
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
}

.reset {
  background-color: black;
  color: #ffb66e;
  border: 1px solid #ffb66e;
  outline: none;
  margin: 20px 20px 0 0;
  padding: 10px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.footer {
  background-color: #ffb66e;
  position: absolute;
  text-align: center;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  justify-content: center;
  right: 0;
  text-transform: uppercase;
}
